body {
    font-size: 1.1em;
    line-height: 1.56em;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(46,48,58,0.96);
}

h1, h2 {
    color: rgba(46,48,58,0.96);
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.3em;
    margin-left: -3px;
    line-height: 1;
    letter-spacing: -0.04em;
    margin-top: 40px;
    padding-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

h2 {
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 2.0em
    margin-left: -1.5px;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 2px;
}

p {}

a {
    color: #AD141E;
    text-decoration: none;
    transition: color 0.1s linear;
}

em {
    display: block;
    padding: 20px 90px;
    text-align: center;
    font-weight: bold;
}

#text-table-of-contents a {
    font-size: 18px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Structure */

.header {
    margin-top: 80px;
    margin-bottom: 80px;
    border-top: 1px solid rgba(228,229,233,0.96);
}

.header img {
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -45px;
    transition: all .1s ease-in-out;
}
.header img:hover {
    transform: scale(1.1);
}


.site {
    width: 70%;
    max-width: 700px;
    margin: 0px auto;
}

section.meta {
    padding-bottom: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: rgba(91,95,115,0.96);
    border-bottom: 1px solid rgba(228,229,233,0.96);
}

.footer {
    border-top: 1px solid rgba(228,229,233,0.96);
    margin-top: 60px;
    font-size: 0.9em;
    overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

/* ORG-MODE Related classes. */

p.author           {}
p.date             {}
p.creator          {}
.title             {}
.todo              {}
.done              {}
.WAITING           {}
.timestamp         {}
.timestamp-kwd     {}
.timestamp-wrapper {}
.tag               {}
._HOME             {}
.target            {}
.linenr            {}
.code-highlighted  {}
div.outline-N      {}
div.outline-text-N {}
.section-number-N  {}
.figure-number     {}
.table-number      {}
.listing-number    {}
div.figure         {}
pre.src, pre.example {
    margin-bottom: 0.7em;
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 0.7em;
    background: rgba(0,0,0,0.05);
    padding: 1em;
    white-space: pre-wrap;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: none;
}

pre.example {
    background: rgba(191, 239, 206, 0.5);
    margin-bottom: 20px;
}

p.footpara {
    display: inline;
}

p.verse            {}
div.footnotes      {}
p.footnote         {}
.footref           {}
.footnum           {}
