body {
    font-size: 1.1em;
    line-height: 1.56em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    color: rgba(46,48,58,0.96);
    margin: 0px;
}

h1, h2 {
    color: rgba(46,48,58,0.96);
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.3em;
    margin-left: -3px;
    line-height: 1;
    letter-spacing: -0.04em;
    margin-top: 40px;
    padding-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

h2 {
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 2.0em
    margin-left: -1.5px;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 2px;
}

p {}

a {
    color: #AD141E;
    text-decoration: none;
    transition: color 0.1s linear;
}

em {
    display: block;
    padding: 20px 90px;
    text-align: center;
    font-weight: bold;
}

#text-table-of-contents a {
    font-size: 18px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/**********/
/* Header */
/**********/

.header-container {
    background-image: url('/images/backdrop-sf-bikeride.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 325px;
}

.header {
    width: 100%;
    margin: 0px auto;
    background: rgba(12, 12, 12, 0.28);
    color: white;
}

.header .bar {
    width: 70%;
    max-width: 700px;
    margin: 0px auto;
    padding: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header span {
    color: white;
    font-weight: bold;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.header a {
    display: flex;
    align-items: center;
}

.header img {
    margin-right: 10px;
    border-radius: 45px;
}

.header a:hover span {
    border-bottom: 2px solid white;
}

.header .menu {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header .menu a {
    color: white;
    font-weight: bold;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-left: 10px;
}

.header .menu a:hover {
    border-bottom: 2px solid white;
}

/***********/
/* Content */
/***********/

.site {
    width: 70%;
    max-width: 700px;
    margin: 0px auto;
}

section.meta {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: rgba(91,95,115,0.96);
    margin-bottom: 40px;
}

/**********/
/* Footer */
/**********/

.footer {
    max-width: 700px;
    width: 70%;
    margin: 40px auto 20px auto;;
    font-size: 0.8em;
    line-height: 1.4em;

    display: flex;
    justify-content: space-between;

}

/**************/
/* Front page */
/**************/

#home {
    margin-top: 40px;
}

.posts h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.posts ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.posts li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.posts .date {
    font-style: italic;
    color: rgb(162, 162, 162);
    font-size: 14px;
}

@media only screen and (max-width: 800px) {
    .header .bar {
        width: 90%;
    }

    .site {
        width: 90%;
    }

    .footer {
        width: 90%;
        flex-direction: column;
    }

    .header .menu {
        flex-direction: column;
        align-items: flex-start;
    }

}

/* ORG-MODE Related classes. */

p.author           {}
p.date             {}
p.creator          {}
.title             {}
.todo              {}
.done              {}
.WAITING           {}
.timestamp         {}
.timestamp-kwd     {}
.timestamp-wrapper {}
.tag               {}
._HOME             {}
.target            {}
.linenr            {}
.code-highlighted  {}
div.outline-N      {}
div.outline-text-N {}
.section-number-N  {}
.figure-number     {}
.table-number      {}
.listing-number    {}
div.figure         {}
pre.src, pre.example {
    margin-bottom: 0.7em;
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 0.7em;
    background: rgba(0,0,0,0.05);
    padding: 1em;
    white-space: pre-wrap;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: none;
}

pre.example {
    background: rgba(191, 239, 206, 0.5);
    margin-bottom: 20px;
}

p.footpara {
    display: inline;
}

p.verse            {}
div.footnotes      {}
p.footnote         {}
.footref           {}
.footnum           {}
