<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
      <div class="container {{page.colors}}">
        <div class="scroll-indicator-container">
          <div class="scroll-indicator-progress"></div>
        </div>

        <div class="menu">
          <a href="/">
            <img src="/images/me-v2-square.jpg" width="45" height="45" alt="Portrait photo of Mads Hartmann" />
            Mads Hartmann
          </a>
          <ul>
            <li><a href="/">Posts 📝</a></li>
            <li><a href="/about/index.html">About 👋</a></li>
            <li><a href="/cv/index.html">CV 🎓</a></li>
            <li><a href="https://speakerdex.co/mads-hartmann">Talks 💬</a></li>
          </ul>
        </div>

        <div class="site">
          {{ content }}
        </div>

        <div class="footer">
          <div class="contact">
            <p>
              Mads Hartmann<br />
              SRE at 🎏 <a href="https://glitch.com" target="_blank">Glitch</a><br />
              mads379@gmail.com
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="https://github.com/mads-hartmann">github.com/mads-hartmann</a><br />
              <a href="https://twitter.com/mads_hartmann">twitter.com/mads_hartmann</a><br />
            </p>
          </div>
        </div>

      </div>
      <script type="text/javascript" src="/js/scroll-indicator.js"></script>
    </body>
</html>
