---
---

$scroll-indicator-height: 10px;

@import "typography";
@import "header";
@import "footer";
@import "syntax-highlighting";
@import "about";

$scroll-indicator-heigght: 10px;

body {
  --background: #edeceb;
  --foreground: #000;
  --link-color: #ad141e;
}

.container.purple {
  --background: #54226d;
  --foreground: #eac0e7;
  --link-color: #54226d;
}
.container.brownish {
  --background: #d57b4c;
  --foreground: #5f0303;
  --link-color: #d57b4c;
}
.container.blueish {
  --background: #151d84;
  --foreground: #d671ec;
  --link-color: #151d84;
}
.container.yellowgreen {
  --background: #266922;
  --foreground: #fde32b;
  --link-color: #266922;
}
.container.pinkred {
  --background: #d45252;
  --foreground: #f7d2e2;
  --link-color: #d45252;
}
.container.orangepink {
  --background: #ffa801;
  --foreground: #d83fd2;
  --link-color: #ffa801;
}
.container.yellowblue {
  --background: #fde32b;
  --foreground: #000;
  --link-color: #000;
}

.appetizer {
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 200;
  color: rgba(46, 48, 58, 0.6);
}

/*****************************/
/* Scroll progress indicator */
/*****************************/

.scroll-indicator-container {
  color: var(--background);
  height: $scroll-indicator-height;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;

  .scroll-indicator-progress {
    height: 100%;
  }
}

/*************/
/* container */
/*************/

.container {
  width: 45%;
  margin: $scroll-indicator-height auto 0px auto;
}

@media (max-width: 1440px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

/* Landing page */

.featured {
  background: #f9f9f9;
  border: 2px solid #ccc;
  margin: 1.5em 0;
  padding: 1em 20px;
  font-size: 0.9em;
  line-height: 1.3em;
}

.featured h2 {
  font-size: 1em;
  margin-top: 0;
}

/***********/
/* Content */
/***********/

.title {
  margin: 1em 0 2em 0;
  padding: 2em;
  background-color: var(--background);
  color: var(--foreground);

  h1 {
    color: var(--foreground);
    text-align: center;
    margin: 0px;
    font-size: 5rem;
    padding-bottom: 0.2em;
    line-height: 5.5rem;
  }

  h2 {
    color: var(--foreground);
  }

  a {
    color: var(--foreground);
  }

  section {
    text-align: center;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

.sidenote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  font-size: 0.9em;
  line-height: 1.3em;

  &:before {
    display: block;
    margin: 0 0 1em 0;
    color: #ccc;
    font-weight: 700;
    content: "sidenote   ";
  }

  .highlight {
    background: none;
    padding: 0;
  }
}

.emphasis_block {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  font-size: 0.9em;
  line-height: 1.3em;
}

.notice {
  background: var(--background);
  color: var(--foreground);
  padding: 5px 10px;
}

.note-box {
  background: #f9f9f9;
  border: 2px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  font-size: 0.9em;
  line-height: 1.3em;
}

/***************************/
/* Front page / Collections*/
/***************************/

#home {
  margin-top: 40px;
}

.posts h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.posts ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.posts li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.posts .date {
  font-style: italic;
  font-size: 14px;
}

pre.highlight {
  text-align: left;
  overflow: auto;
  margin-bottom: 0.7em;
  font-family: Monaco, "Courier New", "Courier", monospace;
  font-size: 1em;
  line-height: 1.1em;
  padding: 1em;
  white-space: pre-wrap;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: none;
}

.highlighter-rouge + .highlighter-rouge pre {
  margin-top: -0.5em;
  background: rgba(191, 239, 206, 0.5);
  margin-bottom: 20px;
}

.footnotes {
  border-color: var(--background);
  font-size: 0.9rem;
  border-top: 2px dotted;
  padding-top: 1rem;
  ol {
    margin: 0 0 0 20px;
    padding: 0;

    p {
      margin: 0;
    }
  }
}

/****************/
/* Book reviews */
/****************/

.book_review {
  .title h2 {
    text-align: center;
    margin-top: 0px;
  }
  .review_of {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3rem;
  }
}

// Import last so it overrides everything. Sort of hacky, I know.
@import "print";
