---
---

@import "mixins";

@import "typography";
@import "header";
@import "footer";
@import "syntax-highlighting";
@import "print";

$scroll-indicator-heigght: 10px;

.container.purple { @include color-theme(#54226d, #eac0e7)}
.container.brownish { @include color-theme(#964729, #5f0303)}
.container.blueish { @include color-theme(#151d84, #d671ec)}
.container.yellowgreen { @include color-theme(#266922, #fde32b)}
.container.pinkred { @include color-theme(#d45252, #f7d2e2)}
.container.orangepink { @include color-theme(#FFA801, #d83fd2)}
.container.yellowblue {  @include color-theme(#fde32b, #000, #000)}

.appetizer {
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 200;
  color: rgba(46, 48, 58, 0.6);
}

/*****************************/
/* Scroll progress indicator */
/*****************************/

.scroll-indicator-container {
  height: $scroll-indicator-heigght;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;

  .scroll-indicator-progress {
    height: 100%;
  }
}


/*************/
/* container */
/*************/

.container {
  width: 45%;
  margin: $scroll-indicator-heigght auto 0px auto;
}

@media (max-width: 1440px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

/***********/
/* Content */
/***********/

.title {
  margin: 1em 0 2em 0;
  padding: 2em;

  h1 {
    text-align: center;
    margin: 0px;
    font-size: 5rem;
    padding-bottom: 0.2em;
    line-height: 5.5rem;
  }

  section {
    text-align: center;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

.sidenote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  font-size: 0.9em;
  line-height: 1.3em;

  &:before {
    display: block;
    margin: 0 0 1em 0;
    color: #ccc;
    font-weight: 700;
    content: "sidenote   ";
  }

  .highlight {
    background: none;
    padding: 0;
  }

}

.emphasis_block {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 1em 20px;
  font-size: 0.9em;
  line-height: 1.3em;
}

/**************/
/* Front page */
/**************/

#home {
    margin-top: 40px;
}

.posts h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.posts ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.posts li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.posts .date {
    font-style: italic;
    font-size: 14px;
}

pre.highlight {
    text-align: left;
    overflow: auto;
    margin-bottom: 0.7em;
    font-family: Monaco,'Courier New','Courier',monospace;
    font-size: 1em;
    line-height: 1.1em;
    padding: 1em;
    white-space: pre-wrap;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: none;
}

.highlighter-rouge + .highlighter-rouge pre {
    margin-top: -0.5em;
    background: rgba(191, 239, 206, 0.5);
    margin-bottom: 20px;
}

.footnotes {
    font-size: 0.9rem;
    border-top: 2px dotted;
    padding-top: 1rem;
    ol {
        margin: 0 0 0 20px;
        padding: 0;

        p {
            margin: 0;
        }
    }
}
