.menu {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a  {
    text-decoration: none;
  }

  > a {
    display: flex;
    align-items: center;
    color: inherit;
  }

  > a img {
    padding: 0;
    margin-right: 10px;
    border-radius: 45px;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  ul li {
    &:first-child {
      padding-left: 0;
    }
    padding-left: 1em;
  }
}

@media (max-width: 1024px) {
  .menu {
    padding-top: 1em;
    flex-direction: column;
    align-items: flex-start;

    > a {
      margin: 0px auto;
    }

    ul {
      padding: 0;
      margin-bottom: 0;
      list-style: default;
    }
  }
}
