@mixin color-theme($background, $foreground) {
  a {
    color: $background;
  }

  hr {
    border-color: $background;
  }

  .title {
    background: $background;
    color: $foreground;
    h1 {
      color: $foreground;
    }
    a {
      color: $foreground;
    }
  }
}
