@mixin color-theme($background, $foreground, $link-color:$background) {
  a {
    color: $link-color;
  }

  hr {
    border-color: $background;
  }

  .title {
    background: $background;
    color: $foreground;
    h1 {
      color: $foreground;
    }
    a {
      color: $foreground;
    }
  }

  .notice {
    background: $background;
    color: $foreground;
    padding: 5px 10px;
  }

  blockquote:before {
    color: $background;
  }

}
