<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

      <div class="header">
        <a href="/">
          <img src="https://pbs.twimg.com/profile_images/486949461600374784/rUwq3Ujw.jpeg" width="90" height="90" />
        </a>
      </div>
      <div class="site">

        {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
              Mads Hartmann<br />
              Software developer at <a href="http://www.issuu.com">issuu.com</a><br />
              mads379@gmail.com
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="https://github.com/mads379">github.com/mads379</a><br />
              <a href="https://twitter.com/mads_hartmann">twitter.com/mads_hartmann</a><br />
            </p>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46867150-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>

    </body>
</html>
