.experience__company {
  font-weight: bold;
  display: block;
}

.experience__title {
  font-weight: bold;
  display: block;
}

.experience__duration {
  display: block;
}

.experience__location {
  display: block;
}

.experience__description {
  display: block;
}

.experience__progression {
  li {
    margin: 1em 0;
  }
}
