.footer {
    margin: 40px auto 20px auto;;
    font-size: 0.8em;
    line-height: 1.4em;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
  }
}
